.material-tooltip {
    display: none !important;
}
.toast_success {
    background-color: green;
}
.toast p {
    margin-top: 0;
    margin-bottom: 0;
}
.toast_error {
    background-color: red;
}
.add-payment .input-field.filter select {
    display: inline-block;
    border: none;
    padding-bottom: 0;
    padding-top: 0;
    height: 36px;
}
.add-payment .input-field:first-of-type {
    margin-right: 25px;
}
tr.invoice-modified {
    background: #e0e0e0 !important;
}
.red-text{
    color: red;
}
.green-text{
    color: green;
}
header.no-auth {
    height: 100px;
}
header.no-auth nav {
    height: 100%;
}
#user-auth-wrapper{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
#user-auth-wrapper .user-auth{
    width: 320px;
    margin-top: -100px;
}
#user-auth-wrapper .user-auth .input-field {
    width: 100%;
}
.formFieldError {
    font-size: 12px;
    color: red;
}
tr.ending-soon{
    background-color: #c27f7f !important;
}
.green-mdi{
    color: green !important;
}
.red-mdi{
    color: red !important;
}
.payment-popup {
    padding: 20px;
    background: #fff;
    min-width: 320px;
}
.datepicker-modal {
    z-index: 9999 !important;
}
.list-payment-popup {
    padding: 20px;
    background: #fff;
    min-width: 320px;
}
.list-invoice-popup {
    padding: 20px;
    background: #fff;
    min-width: 320px;
}
.renter-login-data tbody td {
    padding: 5px 10px;
    border: 1px solid black;
}
.renter-login-data table{
    border-collapse: collapse;
}
.global-wrapper#bills .bottom-action {
    padding: 0 1.5rem;
}
#invoices .header {
    display: flex;
    align-items: center;
}
#invoices .header h2 {
    white-space: nowrap;
}
#invoices .header .h2-wrapper {
    margin-right: 15px;
}
#invoices .filters-wrapper {
    position: sticky;
    top: 65px;
    z-index: 20;
    background: #fff;
    width: 100%;
    border-bottom: 1px solid #B9B9B9;
}
body .filters {
    margin: 20px 0 0 0;
}
.collapsible-header p {
    margin: 10px;
}
